/* Hola disculpa me olvide de lo de crear ramas, trabaje directo en el main tendria que haber creado una rama, estaba haciendo el
proyecto mientras veia las clases y me lo saltee, este proyecto use mas bootstrap, voy a seguir trabajando para poder mejorarlo mas. Gracias! */

*{
    font-family: 'Noto Serif', serif;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4px;
}

h2{
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4px;
}

a{
    text-decoration:wavy;
    color: white;
    transition-property: all 4s;
    transition-duration: 500ms;
}

li{
    list-style: none;
}

.header{
    background-color: #000000;
    max-height: 100%;
}

.header img{
    max-width: 100%;
    max-height: 100%;
}

/* HEADER MENOR 576 */
@media(max-width:575px){
.header-logo{
    width: 60px;
    max-width: 100%;
    max-height: 100%;
}
}

@media(max-width:575px){
.header-div img.header-div__img{
    width: 45px;
    max-height: 100%;
    object-fit: contain;
}
}

/* HEADER MAYOR 576PX */
@media(min-width:576px){
    .header-logo{
        width: 80px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media(min-width:576px){
    .header-div img.header-div__img{
        width: 50px;
        max-height: 100%;
        object-fit: contain;
    }
}

/* BODY CELULAR */
section.body-index{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
    "combos"
    "productos"
    "conocimientos";
}

/* BODY ESCRITORIO*/
@media(min-width:576px){
section.body-index{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50%;
    grid-template-areas: 
    "combos productos"
    "combos conocimientos";
}
}

.categoria ul li a {
    text-decoration: overline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 95%;  
}

.body{
    background-color: #5d5d63;
}

.combos{
    grid-area: combos;
}

.conocimientos{
    grid-area: conocimientos;
}

.productos{
    grid-area: productos;
}

.body-index a img{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

img.img-thumbnail{
    border: #000000 2px solid;
    padding: 0%;
}

.body ul li a img:hover{
    transition-property: all 4s;
    transition-duration: 500ms;
    transform: rotate3d(1, 1, 0, 20deg)
}

/* PRODUCTOS */

 h2.card-title{
    color: #000000;
 }

 .productos-card  img:hover{
    transition-property: all 4s;
    transition-duration: 500ms;
    transform: rotate3d(1, 1, 0, 20deg);
 }

.card-text a:hover{
    background-color: lightskyblue;
    border-radius: 10px;
    transition-property: all 4s;
    transition-duration: 500ms;

}

 .categorias-lista ul li a:hover{
    background-color: lightskyblue;
 }

 /* SOBRE NOSOTROS */
.body-sb__inf img{
    object-fit: cover;
}


/* Footer */
footer{
    background-color: black;
}

